@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<div>
    <p>Bem-Vindos! Este é um gerenciador de pedidos de pizzarias desenvolvido em ASP.NET MVC5.</p>
    <br />
    <p>
        Desenvolvido por:
        <br />
        <h5>Arthur Willian</h5>
        <br />
        <h5> Luiz Becker </h5>
        <br />
        <h5> Phelipe Nunes. </h5>
    </p>
</div>